.todo {
  margin-top: 20px;
  max-width: 300px;
  width: 100%;
  border: 1px solid black;
}

.todo__input {
  margin-top: 20px;
  margin-left: 30px;
}

.todo__checkbox {
  margin-left: 5px;
}

.todo__box {
  margin-bottom: 20px;
}

.todo__task {
  border: 1px solid black;
  max-width: 238px;
  width: 100%;
  margin-left: 30px;
  margin-top: 10px;
}

.todo-progress__btn {
  display: inline-flex;
  margin-left: 30px;
  margin-top: 10px;
}